* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00171f;
}

.player {
    padding: 40px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.song-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

h1, h2 {
    color: #ffffff;
}

h1 {
    margin-bottom: 20px;
}

.playingSong {
    width: 40%;
}

.track-info {
    margin-bottom: 15px;
}

.track-info img {
    height: 60%;
    width: 60%;
    border-radius: 10%;
    filter: drop-shadow(0px 0px 2px orange);
}

#track-title {
    margin-top: 30px;
    color: #c7e3ec;
    font-size: 1.6rem;
}

#progress-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background-color: #001f54;
    cursor: pointer;
    margin: 40px 0;
}

#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.controls button {
    background-color: #00a7e1;
    color: white;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
}

.song-list {
    width: 50%;
    padding: 20px 60px;
}

.song-list ul {
    overflow-y: scroll;
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10%;
    scrollbar-width: thin;
    scrollbar-color: red #00a7e1;
}

.song-list li {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    background-color: #003459;
    border-radius: 5px;
    color: whitesmoke;
    border: 1px solid orange;
    transition: background-color 0.3s, color 0.3s;
}

.song-list li div {
    display: flex;
    justify-content: space-between;
}

.song-list li img {
    width: 50px;
}

.song-list li:hover {
    background-color: #b7b3b3;
    color: black;
}

@media screen and (max-width: 1260px) {
    .song-list {
        width: 60%;
    }
}

@media screen and (max-width: 1090px) {
    .player {
        width: 100%;
    }

    .song-controller {
        padding: 20px;
    }
}

@media screen and (max-width: 800px) {
    .player {
        padding: 10px;
    }

    .song-list {
        padding: 20px;
    }
}

@media screen and (max-width: 580px) {
    body {
        overflow-y: scroll;
    }

    .player {
        padding: 40px 20px;
    }

    .song-controller {
        flex-direction: column;
    }

    .playingSong {
        width: 70%;
    }

    .song-list {
        margin-top: 40px;
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .song-list {
        width: 100%;
        padding: 0;
    }

    .song-list ul li div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }
}
