body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, rgb(155, 4, 4),rgb(7, 7, 162));
    margin: 0;
}

.game-container {
    background: linear-gradient(to bottom, #dff2f9, #cccccc);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

.problem {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(255, 0, 0);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

#status {
    margin-bottom: 20px;
}

#time, #score {
    margin: 5px 0;
}