.view{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    height: auto;
}
p{
    /* background-color: orange; */
    animation: sidePara ease-in;
    animation-timeline: view();
    animation-range: entry 0 50%;
    font-size: 20px;
}
.block{
    width: 200px;
    background-color: rgb(8, 80, 80);
    height: 200px;
    animation: animatepage ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 40%;
}

@keyframes sidePara{
    0% {
        transform: translateX(-100%);
        opacity: 0.2;
        }
        100% {
            opacity: 1;
            transform: translateX(2%);
        }
}

@keyframes animatepage {
    0%{
        transform: translateY(-40%);
        opacity: 0;
    }
    50%{
        transform: translateY(0%);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}